extends adminlayout
block content
  .row.mt-4.mb-4
    .col-lg-12
      #MAP
block script
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAddwFzEu83xzv_3kQjwLOrK3d35bmiOKg")
  script(src='/js/map.js')